<div class="mainCLS">
  <div class="container">
    <div class="row">
      <div class="col right-border">
        <div>
          <h3>Welcome to Azure Lite - Production in a box.</h3>
          <h4>What would you like to do today?</h4>
          <button class="btn btn-primary top-btn">Upload my own template</button>
          <a class="btn btn-primary top-btn" routerLink="/quiz">Create a new template</a>
        </div>
        <div *ngIf="templates && templates.length > 0">
          <h5>Available templates:</h5>
          <select class="form-select" size="6">
            <option class="template-class" *ngFor="let template of templates" (click)="templateClick(template)">
              {{template.title}}</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div *ngIf="selectedTemplate">
          <h3>{{selectedTemplate.title}}</h3>
          <div class="container">
            <p>{{selectedTemplate.description}}</p>
            <img [src]="selectedTemplate.image" class="image-style" />
            <button class="btn btn-primary bottom-btn"
              (click)="downloadFile(selectedTemplate.filePath,selectedTemplate.title)">Download template file</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
