.mainCLS{
  margin-left: 1em;
  margin-right: 1em;
}
.right-border{
  border-right-width: thick;
  border-right-color: purple;
  border-right-style: solid;
}
.template-class{
  font-size: large;
  font-weight: 600;
}
.top-btn{
  margin-right: 6em;
  margin-bottom: 2em;
}
.bottom-btn{
  margin-top: 2em;
}
.image-style{
  max-height: 450px;
  width: auto;
}