<div class="container">
  <h2>Create your new Azure environment</h2>
  <p>Please answer the following question and press submit.</p>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupQuestionType">Please select Azure Environment</label>
    </div>
    <select #selectedType class="custom-select" id="inputGroupQuestionType" (change)="changeQuestionsType(selectedType.value)">
      <!-- <option value="test">Test Environment</option> -->
      <option value="prod">Production Environment</option>
      <option value="customProd">Custom Production Environment</option>
    </select>
  </div>
  <div *ngIf="questions">
    <div class="row mb-3" *ngFor="let question of questions">
      <div class="col-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">{{question.title}}</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01">
            <option *ngFor="let option of question.options" [value]="option.id">{{option.title}}</option>
          </select>
        </div>
      </div>
    </div>
    <a class="btn btn-secondary bottom-btn" routerLink="/home">Go back to home page</a>
    <button class="btn btn-primary bottom-btn" (click)=submitClick()>Generate me a new template</button>
  </div>
  <div *ngIf="templateGenerated">
    <h5>Generated template is:</h5>
    <div class="row">
      <img [src]="getImageUrl('/assets/images/fully-managed-secure-apps.png')" class="image-style" />
    </div>
    <a class="btn btn-primary bottom-btn" routerLink="/home">Continue with generated template</a>
  </div>
</div>
